snippet fun "a function" b
function! ${1:Name_of_function}(${2:Parameter_optional})
  ${3:Body_of_function}
endfunction
endsnippet

snippet trycatchfin "Try Catch Finnaly" b
try
  $1
catch /.*/
  $2
finally
  $3
endtry
endsnippet

snippet tryfin "Try Finnaly" b
try
  $1
finally
  $2
endtry
endsnippet

snippet try "Try" b
try
  $1
endtry
endsnippet

